/* This is fine more efficient*/
body {
  font-family: "Montserrat", sans-serif;
}

/*Dont do it not very efficient*/
/* * {
  font-family: "Montserrat", sans-serif;
} */

#product-overview {
  background: #ff1b68;
}

.section-title {
  color: #2ddf5c;
  /* font-family: inherit; Not good use combinator*/
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

h1 {
  color: white;
  /* Getting the browser defalut fonts - preference/ customise fonts  */
  /* font-family: sans-serif;  */
  font-family: "Anton", sans-serif;
}

/* Order maters when both have the same element so font-fmaily serif will override Anton. */
/* h1 {
    font-family: serif;
} */
