#product-overview {
  background: #ff1b68;
}

.section-title {
    color: #2ddf5c;
  }

h1 {
  color: white;
  /* Getting the browser defalut fonts - preference/ customise fonts  */
  /* font-family: sans-serif;  */
  font-family: "Anton", sans-serif;
}

/* Order maters when both have the same element so font-fmaily serif will override Anton. */
h1 {
    font-family: serif;
}
